.satu{
    /* Box Model : Margin */
    width: 200px;
    height: 200px;
    background-color: paleturquoise;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    


}
.dua{
    width: 100px;
    height: 100px;
    background-color: papayawhip;
    /* margin-top: -150px; */
    /* kalau pakai auto */
    margin-left: auto;
    margin-right: auto;
    
    
}
.tiga{
    width: 50px;
    height: 50px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    
}